body{
  background-color:antiquewhite;
  padding: 0px 20px;
}

.Title {
  text-align: center;
}
#divRhombus{
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0px auto;
}
.rhombusTop {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid blue;
}
.rhombusBottom {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid blue;
}

